* {
    margin: 0;
    padding: 0
}

body {
	display: flex;
	background-color: #191970;
}

.container {
 background-color: #191970;
 height: 100vh;
 color: #fff;
 
}

.container2 {
 
 color: #fff;
 width: 100%;
}

table {
	width: 200px;
    border-collapse: collapse;
	text-align: center;
}


.card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 10px;

    height: 30%;
}
.card {
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 30%;
}

.card3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    height: 30%;
}

.models {
    height: 50px;
    width: 300px;
    text-align: center;
}

.grade {
    height: 30px;
    width: 120px;
}

#peso {
    height: 25px;
    width: 100px;
}

#linear {
	margin-bottom: 20px;
	height: 40px;
}

#btn-salvar {
    height: 40px;
    width: 100px;  
}
#btn-finalizar {
    height: 25px;
    width: 100px;  
}

.fim {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.fim h1 {
	background-color: red;
	width: 50px;
	cursor: pointer;
	text-align: center;
}

#logo {
	background-color: #000;
	width: 418px;
	border-radius: 10px;
}

.fim2 {
    display: flex;
    justify-content: flex-end;
    width: 95%;
    padding: 10px;
}
.fim2 h1 {
	background-color: red;
	width: 50px;
	cursor: pointer;
	text-align: center;
}

.btn-finalizar {
	display: flex;
	justify-content: center;
	margin-top: 100px;
}

#btn-fechar {
	height: 50px;
	width: 100px;
}



